<div class="fondo">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input name="email" type="text" placeholder="Email or Phone" id="username" [(ngModel)]="account.email">
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="Password" id="password" [(ngModel)]="account.password">

        <button [disabled]="this.loading" class="login" (click)="this.handleSubmit()">Log In</button>
        <div class="social">
            <div class="go" (click)="ver()"><i class="fab fa-google"></i> Google</div>
            <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
        </div>
        <p style="color: white;padding-top: 3px;" routerLink="/auth/login">
            Don´t have an account?
            <span style="color:rgb(0, 166, 172);cursor:pointer;" routerLink="/auth/register">
                Sign Up here
            </span>
        </p>
    </form>
</div>